$first-breakpoint : 975px;
$second-breakpoint : 650px;

:root {
    --bright-orange : hsl(31, 77%, 52%);
    --dark-cyan : hsl(184, 100%, 22%);
    --very-dark-cyan : hsl(179, 100%, 13%);
    --transparent-white : hsla(0, 0%, 100%, 0.75);
    --very-light-gray : hsl(0, 0%, 95%);
}

html {
    font-size: 62.5%;
    font-family: 'Lexend Deca', sans-serif;
    background-color: --var(--very-light-gray);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    width: 325px;
    height: 550px;

    &-icon {
        width: 70px;
    }

    &-title {
        font-family: 'Big Shoulders Display', cursive;
        color: var(--very-light-gray);
        font-size: 5rem;
        font-weight: bold;
    }

    &-content {
        color: var(--transparent-white);
        font-size: 1.7rem;
        text-align: left;
        line-height : 1.8;
    }

    &-button {
        border-radius: 100px;
        font-size: 1.75rem;
        border: none;
        width: 180px;
        height: 55px;
    }

}

.sedan {
    background-color: var(--bright-orange);
    border-radius: 10px 0px 0px 10px;

    &-button{
        background-color: var(--very-light-gray);
        color: var(--bright-orange);

        &:hover{
            background-color: var(--bright-orange);
            color: var(--very-light-gray);
            border: 2px solid var(--very-light-gray);
        }
    }

}

.suvs {
    background-color: var(--dark-cyan);

    &-button{
        background-color: var(--very-light-gray);
        color: var(--dark-cyan);
        
        &:hover{
            background-color: var(--dark-cyan);
            color: var(--very-light-gray);
            border: 2px solid var(--very-light-gray);
        }
    }
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0px 10px 10px 0px;

    &-button{
        background-color: var(--very-light-gray);
        color: var(--very-dark-cyan);
        
        &:hover{
            background-color: var(--very-dark-cyan);
            color: var(--very-light-gray);
            border: 2px solid var(--very-light-gray);
        }
    }
}

@media (max-width: $first-breakpoint) {
    .suvs {
        border-radius: 0px 10px 10px 0px;
    }
    .luxury {
        border-radius: 10px 10px 10px 10px;
    }
}

@media (max-width: $second-breakpoint) {
    .sedan{
        border-radius: 10px 10px 0px 0px;
    }
    .suvs {
        border-radius: 0px 0px 0px 0px;
    }
    .luxury {
        border-radius: 0px 0px 10px 10px;
    }
}